<div class="container text-center">
  <div class="row dropFiles">
    <div *ngIf="account" class="col align-self-center dropFiles__Space">
      <span class="dropFiles__Text">Upuść tutaj</span>
    </div>
  </div>

  <div *ngIf="account == null">
    <h1>Poznaj nas lepiej</h1>
    <div class="MeetUsBetter">
      <span class="MeetUsBetter__Text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos porro dicta provident laborum molestiae autem totam consequuntur,
        dolor delectus tempore repellat obcaecati harum optio illo voluptatum, commodi iusto quae. Tempora quae, molestias ab eligendi hic
        suscipit, animi odit facere velit veniam at ut eius quia dicta voluptatibus! In, quam vitae!
      </span>
    </div>
  </div>
</div>
