<div class="container text-center dropFiles">
  <div class="row align-self-center dropFiles__Space"  *ngIf="account">
      <input class="dropFiles__Input align-self-center"
        type="file"
        (change)="getFile($event)"
        #fileInput>
      <!--<jhi-file *ngFor="let file of files" [file]="file" ></jhi-file>-->
      <div *ngFor="let file of files" class="col-2 file" >
            <img src="../../content/images/25307.png" alt="plik">
            <span>{{file.name}}</span>
      </div> 
      <div *ngIf="file == null" class="dropFiles__EmptySpace">
        <span class="dropFiles__Text align-self-center">DROP HERE</span>
      </div>
  </div>
  <div *ngIf="account == null">
    <h1>Poznaj nas lepiej</h1>
    <div class="MeetUsBetter">
      <span class="MeetUsBetter__Text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos porro dicta provident laborum molestiae autem totam consequuntur,
        dolor delectus tempore repellat obcaecati harum optio illo voluptatum, commodi iusto quae. Tempora quae, molestias ab eligendi hic
        suscipit, animi odit facere velit veniam at ut eius quia dicta voluptatibus! In, quam vitae!
      </span>
    </div>
  </div>
</div>
