@import '../../content/scss/colors.scss';

.dropFiles {
  &__Space {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid $BriteColor;
    background-color: $DropHere;
  }

  &__Text {
    padding: 5rem;
    font-weight: 800;
    color: $DarkBrieteColor;
    font-size: 6rem;
  }
}
.MeetUsBetter {
  padding: 3rem;

  &__Text {
  }
}
