<div class=" justify-content-center">
        <div *ngIf="account" class="dropFilesSpace">
            <span class="dropHere">Upuść tutaj</span>
        </div>

        <div *ngIf="account == null" >
            <h1>
              Poznaj nas lepiej
            </h1>
            <span>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Odio molestias corrupti repellendus ex totam quod assumenda
              eum qui architecto quaerat explicabo consectetur quia cum,
              modi, debitis doloremque obcaecati blanditiis minima?
            </span>
        </div>
</div>