@import '../../content/scss/colors.scss';

.dropFiles {
  display: flex;
  justify-content: center;
  align-self: center;
  &__Space {
    position: relative;
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid $BriteColor;
    background-color: $DropHere;
  }

  &__Text {
    font-weight: 800;
    color: $DarkBrieteColor;
    font-size: 4.5rem;
  }

  &__Input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    right: 0;
  }
  &__EmptySpace {
    height: 100px;
  }
}
.MeetUsBetter {
  padding: 3rem;

  &__Text {
  }
}

.file {
  width: 100px;
  height: 100px;
  margin: 10px 0px;
  overflow: hidden;
  z-index: 100;
  cursor: pointer;

  img {
    width: 80px;
    height: 80px;
  }

  &__MenuOnItem{
    background-color: white;
    width: 50px;
    height: 50px;
  }
}
